
<section class="navbar">
  <a ui-sref="#" ng-click="toggle()" class="dropdown-nav-button"><button class="hamburger">&#9776;</button>

  <div class="nav-wrap" ng-show="expanded"><!--<a ui-sref="signin"><button>Signin</button>--><a ui-sref="tasks"><img class="logo-nav" src="https://sharedspace.herokuapp.com/image?img=logo"></a><span ui-sref-active="active" class=""><a ui-sref="newTask"><button>New Task</button></a></span><span ui-sref-active="active" class=""><a ui-sref="tasks"><button>Tasks</button></a></span><span ui-sref-active="active" class=""><a ui-sref="leaderboard"><button>Leaderboard</button></a></span><span ui-sref-active="active" class=""><a ui-sref="about"><button>About</button></a></span><span ui-sref-active="active" class=""><a><button ng-click="logout()">Logout as <loggedinuser></loggedinuser></button></a></span></div>

</section>