
  h1 {
    padding: 0;
    margin: 0;
  }
  
  .logo {
    color: $dark-grey;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    font-size: 3em;
  }

  .navbar {
    text-align: center;

    button {
      color: $dark-blue-accent;
      border: 1px solid black;
      padding: 20px 30px 20px 30px;
      &:hover {
        color: black;
      }
    }
  }
