
  h1 {
    padding: 0;
    margin: 0;
  }
  
  .logo {
    color: $dark-grey;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    font-size: 3em;
  }

  .navbar {
    font-size: 1.2em;
    text-align: center;
    // background: linear-gradient(45deg, $dark-blue-accent, $light-blue-accent);
    background-color: $light-blue-accent;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px $dark-grey;

    a {
      text-decoration: none;
    }

    button {
      display: block;
      color: $dark-blue-accent;
      border: 1px solid $dark-blue-accent;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      color: white;
    }

  }

  .hamburger {
    font-size: 1.5em;
  }


.logo-nav {
  display: none;
}