@media only screen and (min-width: 768px) {

  h2 {
    font-size: 1.5em;
  }

  canvas {
    display: block;
    width: 90%;
  }

  .user-wrapper {
    display: none;
  }

  li {
    font-size: 1.3em;
  }

  .u_signin {
    max-width: 800px;
    margin: 0 auto;
    .go {
      font-size: 1.3em;
      max-width: 200px;
      position: relative;
      left: 41.5%;
      bottom: 95px;
      padding: 20px 40px 20px 40px;
      &:hover {
        background-color: #71bcb3;
      }
    }
  }

  .new-task {
    text-align: center;

    label {
      text-align: right;
    }

    select {
      @include grid-row;
      max-width: 300px;
    }
    option {
    max-width: 300px;
    }
  }

  .navbar {
    margin-bottom: 50px;
    text-align: cfenter;
    // background-color: $light-blue-accent;
    background-color: rgba(100, 182, 172, 0.5);

    button {
      color: $dark-blue-accent;
      display: inline;
      border: none;
      padding: 20px 30px 20px 30px;
      width: inherit;
      color: white;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
      &:hover {
        color: $background;
      }
    }

  }

.hamburger,
.dropdown-nav-button {
  display: none;
}

.nav-wrap {
  display: block;
  .active a button {
    border-top: none;
  }
}



.bios {

  .headshot {
    // display: inline-block;
    width: 240px;
  }

  .jake { 
    height: 400px;
    position: relative;
    p, li, h2 {
      text-align: right;
    }
    
    .headshot {
      position: absolute;
      left: 0;
    }
  }

  .nick {
    height: 400px;
    position: relative;
    p, li, h2 {
      text-align: left;
    }

    .headshot {
      position: absolute;
      right: 0;
    }
    
  }

  .suman {
    height: 400px;
    position: relative;
    p, li, h2 {
      text-align: right;
    }
    
    .headshot {
      position: absolute;
      left: 0;
    }
  }

}

.bios:after {
  content: "";
  display: table;
  clear: both;
}

.signin {
  width: 350px;
  margin: auto;
  display: block;
}

.logo {
  // width: 300px;
  // margin: auto;
  // display: block;
  display: none;
}

.logo-nav {
  display: inline-block;
  width: 100px;
}

} // close media