header {
    @include grid-row;

    form {
      @include grid-column(12);
      @include grid-column-offset(0);
      text-align: center;
      position: absolute;
      top: 35%;
      right: 0;
      left: 0;
    

    form,
    label,
    input {
      font-family: 'Nunito', sans-serif;
      font-size: 3em;
      background-color: transparent;
    }

    input {
      width: 100%;
      font-size: 3em;
      display: block;
      margin: 0 auto;
      border: none;
      border-bottom: 5px solid $light-blue-accent;
      margin-bottom: 0.5em;
      margin-top: 0.25em;

      &:focus{
        outline: 0;
      }
    }

  }
  }
   .go {
        background-color: $green-accent;
        position: absolute;
        color: white;
        right: 10px;
        bottom: 35px;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1em;
      }
