.users {
  display: none;
}

.user-wrapper {
  ul {
    padding: 0;
    margin: 0;
    
    li {
      padding: 0;
      text-align: left;
      box-shadow: none;
      width: 200px;
      color: white;
      background-color: $dark-blue-accent;
    }

  }
}