@import '../../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-flex-classes;

// color scheme
$background : #FAF0E6;
$dark-grey : #37393A;
$green-accent: #729B79;
$light-blue-accent: #64B6AC;
$dark-blue-accent: #366699;

// font-family:
// 'Cambay', sans-serif;
// 'Alegreya Sans', sans-serif;
// 'Nunito', sans-serif;


@import 'header';
@import 'search';
@import 'tasks';
@import 'users';
@import 'signin';
<<<<<<< HEAD
@import 'adduser';
@import 'leaderboard';
=======
@import 'leaderboard';

$grid-row-width : 100em;
>>>>>>> 8fb1fa4ec13d21d122dfb65be2721a0b11719004
