@import '../../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

// color scheme
$background : #FAF0E6; // too yellow-ish?
$dark-grey : #37393A;
$green-accent: #729B79;
$light-blue-accent: #64B6AC;
$dark-blue-accent: #366699;

// font-family:
// 'Cambay', sans-serif;
// 'Alegreya Sans', sans-serif;
// 'Nunito', sans-serif;


@import 'header';
@import 'search';
@import 'tasks';
@import 'newtask';
@import 'users';
@import 'signin';
@import 'leaderboard';
@import 'media';

$grid-row-width : 100em;

body {
  background-color: $background;
  .row {
    max-width: 45rem;
  }
}