<a ui-sref="signin"><button>Signin</button></a>
<a ui-sref="tasks"><button>Tasks</button></a>
<a ui-sref="users"><button>Users</button></a>
<a ui-sref="leaderboard"><button>Leaderboard</button></a>
<a ui-sref="about"><button>About</button></a>
<a ui-sref="newTask"><button>New Task</button></a>
<section class="row">
<section class="incomplete small-4 columns">
    <h2>Incomplete Tasks</h2>
    <input type="text" placeholder="search available tasks" ng-model="searchIncomplete">
    <ul>
        <li ng-repeat="task in tasks | filter:searchIncomplete">
            <!--had $ctrl.which in each one below-->
            <!--<p>Task ID: {{task.id}}</p>-->
            <p>Task Name: {{task.taskName}}</p>
            <!--<p>Task Complete? {{task.complete}}</p>-->
            <p>Task Points: {{task.points}}</p>

            <form>
                <input type="checkbox" ng-model="task.complete" ng-change="markComplete(task)"><label>Done</label>
            </form>
        </li>
    </ul>
</section>

<section class="complete small-4 columns">
    <h2>Completed Tasks</h2>
    <input type="text" placeholder="search completed tasks" ng-model="searchComplete">
    <ul>
        <li ng-repeat="complete in completed | filter:searchComplete">
            <!--<p>Task ID: {{complete.id}}</p>-->
            <p>Task Name: {{complete.taskName}}</p>
            <!--<p>Task Complete? {{complete.complete}}</p>-->
            <p>Task Points: {{complete.points}}</p>
            <p>Completed By: {{complete.user.userName || 'anonymous'}}</p>
            <!--add anonymous as the default 'user'-->
        </li>
    </ul>
</div>
</section>

<section class="users small-4 columns">
    <users></users>
</section>

</section>