<a ui-sref="signin"><button>Go To Signin</button></a>
<a ui-sref="users"><button>Go To Users</button></a>
<a ui-sref="about"><button>about</button></a>

<div class="task-wrapper row">
<section class="incomplete small-4 columns">
    <h2>Incomplete Tasks</h2>
    <input type="text" placeholder="search available tasks" ng-model="searchIncomplete">
    <ul>
        <li ng-repeat="task in tasks | filter:searchIncomplete">
            <!--had $ctrl.which in each one below-->
            <p>Task ID: {{task.id}}</p>
            <p>Task Name: {{task.taskName}}</p>
            <p>Task Complete? {{task.complete}}</p>
            <p>Task Points: {{task.points}}</p>
            <!--  n.b. we do not care about WHO makes the task - just who completes it
            <p>User ID: {{task.user.id}}</p>
            <p>Username: {{task.user.userName}}</p>
            <p>User Points: {{task.user.points}}</p>-->
            <form>
                <input type="checkbox" ng-model="task.complete" ng-change="markComplete(task)"><label>Done</label>
            </form>
        </li>
    </ul>
</section>

<section class="complete small-4 columns">
    <h2>Completed Tasks</h2>
    <input type="text" placeholder="search completed tasks" ng-model="searchComplete">
    <ul>
        <li ng-repeat="complete in completed | filter:searchComplete">
            <p>Task ID: {{complete.id}}</p>
            <p>Task Name: {{complete.taskName}}</p>
            <p>Task Complete? {{complete.complete}}</p>
            <p>Task Points: {{complete.points}}</p>
            <p>Completed By: {{complete.user}}</p>
        </li>
    </ul>
</section>
</div>