<!DOCTYPE html>
<html>

<head>
    <title>SharedSpace Home</title>
    <link rel="stylesheet" href="../../static/style/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js"></script>
    <script src="https://npmcdn.com/angular-ui-router@1.0.0-beta.3/release/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
    <script src="../../static/js/angular-chart.min.js"></script>

    <script src="../../static/js/app.js"></script>
    <!--remove static above when boot from Jake's server ../static -->
</head>

<body ng-app="SharedSpace">
    <!--<section ng-controller="SignInController">
        <signin></signin>
    </section>

    <section ng-controller="TaskController">
        <all-tasks which="tasks"></all-tasks>
    </section>-->

    <!--did not need ng-repeat on all-tasks-->
    <!--needed INSIDE the component-->
    <!--review angular rules for - and cap letters -->

    <ui-view></ui-view>
    

</body>

</html>