
<section class="leaderboard">
    <h1>Leader Board Chart</h1>

    <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
    </canvas>


    <section>
        <!--<h1>Leader Board</h1>-->
        <ul>
            <li ng-repeat="leaduser in leadUsers">
                <P>Id: {{leaduser.id}}</P>
                <p>UserName: {{leaduser.userName}}</p>
                <p>Points: {{leaduser.points}}</p>
            </li>
        </ul>
    </section>
</section>
