<a ui-sref="signin"><button>Signin</button></a>
<a ui-sref="tasks"><button>Tasks</button></a>
<a ui-sref="users"><button>Users</button></a>
<a ui-sref="leaderboard"><button>Leaderboard</button></a>
<a ui-sref="about"><button>About</button></a>
<a ui-sref="newTask"><button>New Task</button></a>

<form>
    <section class="row align-center">
        <input type="text" placeholder="Enter task name" ng-model="taskName">
        <input type="number" placeholder="Enter points" ng-model="taskPoints">
        <a ui-sref="tasks"><button ng-click="submit()">Submit</button></a>
    </section>
</form>