<div class="user-wrapper row">
    <section class="users small-4 columns">
        <h2>Users</h2>
        <input type="text" placeholder="search users" ng-model="searchUsers">
        <ul>
            <!--rank the users by points                       (reverse = true)-->
            <li ng-repeat="user in users | orderBy : 'points' : true | filter:searchUsers">

                <p>User ID: {{user.id}}</p>
                <p>Username: {{user.userName || 'anonymous'}}</p>
                <p>Points: {{user.points}}</p>

            </li>
        </ul>
    </section>
</div>