<a ui-sref="signin"><button>Signin</button></a>
<a ui-sref="logout"><button>Logout</button></a>
<a ui-sref="tasks"><button>Tasks</button></a>
<a ui-sref="leaderboard"><button>Leaderboard</button></a>
<a ui-sref="about"><button>About</button></a>
<a ui-sref="newTask"><button>New Task</button></a>

<section class="row">
<section class="incomplete small-3 columns">
    <h2>Incomplete Tasks</h2>
    <input type="text" placeholder="search available tasks" ng-model="searchIncomplete">
    <ul>
        <li ng-repeat="task in tasks | filter:{complete:false} | filter:searchIncomplete">
            <form>
                <input type="checkbox" ng-model="task.complete" ng-change="markComplete(task)">
                <span><b>{{task.taskName}}</b> - <b>{{task.points}}</b></span>
            </form>
            

            
        </li>
    </ul>
</section>

<section class="complete small-5 columns">
    <h2>Recently Completed Tasks</h2>
    <input type="text" placeholder="search completed tasks" ng-model="searchComplete">
    <ul>
        <!--orderBy:'+':true | filter:searchComplete | limitTo: 5">-->
        <li ng-repeat="task in tasks | filter:{complete:true} | orderBy: 'time' : true | limitTo: 5 | filter:searchComplete">
            <input type="checkbox" checked="true" disabled="true">
            <span class="grey-strikethrough"><b>{{task.taskName}}</b> completed for <b>{{task.points | number}}</b> points by <b>{{task.user.userName || 'You'}}</b>
                <span am-time-ago="task.time"></span>
            </span>
        </li>
    </ul>
    <a ui-sref="allComplete"><button>See all</button></a>
</div>
</section>

<section class="users small-3 columns">
    <users></users>
    <a ui-sref="allUsers"><button>See all</button></a>
</section>

</section>