<img class="logo" src="https://sharedspace.herokuapp.com/image?img=logo">
<navbar></navbar>

<form>
  <section class="new-task">
    <!--<input type="text" placeholder="Enter task name" ng-model="taskName">-->
    <label>Task</label>
    <select name="Tasks" ng-model="taskName">
      <option selected disabled hidden style='display: none' value=''></option>
      <optgroup label="Tasks">
      <option value="take out garbage">Take out Garbage</option>
      <option value="refill coffee">Refill Coffee</option>
      <option value="turn off lights">Turn off Lights</option>
    </select>
    
    <!--<input type="number" placeholder="Enter points" ng-model="taskPoints">-->
    <br><label>Points</label>
    <select name="Points" ng-model="taskPoints">
      <option selected disabled hidden style='display: none' value=''></option>
      <optgroup label="Points">
      <option value="100">100</option>
      <option value="200">200</option>
      <option value="300">300</option>
      <option value="400">400</option>
      <option value="500">500</option>
    </select>
    <button ng-click="submit()" class="submit-task" ng-disabled="!taskName">Submit</button>
  </section>
</form>