<div class="user-wrapper">
    <section>
        <h2>Users</h2>
        <input type="text" placeholder="search users" ng-model="searchUsers">
        <ul>
            <!--rank the users by points                                (reverse = true)-->
            <li ng-repeat="user in users | filter:searchUsers | orderBy : 'points' : true">

                <p>User ID: {{user.id}}</p>
                <p>Username: {{user.userName}}</p>
                <p>Points: {{user.points}}</p>

            </li>
        </ul>
    </section>
</div>