<a ui-sref="tasks"><img class="logo" src="https://sharedspace.herokuapp.com/image?img=logo"></a>

<navbar></navbar>

<section class="row">
  <h1>About</h1>
  <p>We are recent graduates of The Iron Yard - Charlotte.</p>
  <p>This project started as a conversation about a coffee machine that always seemed to be empty.</p>
  <p>We thought there had to be a better way to incentivize our classmates to refill the machine.</p>
  <p>SharedSpace is an intelligent task manager that rewards socially-positive actions in common areas.</p>


  

  <hr>
  <div class="bios">

    <div class="jake">
      <h2>Jake Tepper</h2>
      <img class="headshot" src="https://sharedspace.herokuapp.com/image?img=jake">
      <ul>
        <a target="_blank" href="mailto:jaketepper@gmail.com"><li>Email</li></a>
        <a target="_blank" href="https://github.com/ArcSoftware"><li>GitHub</li></a>
      </ul>
      
      
    </div>

    <div class="nick">
      <h2>Nick Falcone</h2>
      <img class="headshot" src="https://sharedspace.herokuapp.com/image?img=nick">
      <ul>
        <a target="_blank" href="mailto:nicholas.e.falcone@gmail.com"><li>Email</li></a>
        <a target="_blank" href="https://github.com/nickFalcone"><li>GitHub</li></a>
      </ul>
      
    </div>

    <div class="suman">
      <h2>Suman Prajapati</h2>
      <img class="headshot" src="https://sharedspace.herokuapp.com/image?img=suman">
      <ul>
        <a target="_blank" href="mailto:sumanlata.prajapati@gmail.com"><li>Email</li></a>
        <a target="_blank" href="https://github.com/PrajapatiS"><li>GitHub</li></a>
      </ul>
      
    </div>

  </div>
</section>

